<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>portifolio</title>
    <link
      rel="stylesheet"
      href="../node_modules/owl.carousel/dist/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css"
    />
    <link
      rel="shortcut icon"
      href="../src/imgs/logo/movistar-3.svg"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="body-light-theme" id="body-theme">
      <%- include('./components/header.ejs') %> <%-
      include('./components/home.ejs') %> <%- include('./components/skills.ejs')
      %> <%- include('./components/services.ejs') %> <%-
      include('./components/project.ejs') %> <%-
      include('./components/contact.ejs') %><%-
      include('./components/footer.ejs') %>
    </div>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
          loop: true,
          margin: 15,
          nav: false,
          autoplay: true,
          autoplayTimeout: 3000,
          items: 2,
          responsive: {
            0: {
              items: 1,
            },
            750: {
              items: 2,
            },
            1200: {
              items: 3,
            },
          },
        });
      });
    </script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
    <script src="../node_modules/scrollreveal/dist/scrollreveal.min.js"></script>
  </body>
</html>
